@use '../helpers' as *;

.tile {
    padding: fluid(40, 24);
    border: var(--border);
    border-radius: rem(12);
    background-color: var(--color-dark-10);

    @include laptop {
        border-radius: rem(10);
    }
}